*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}


img{
    max-width: 100%;
}

h1{
    font-size: 1.7rem;
}
p{
    font-size: 1rem;
}

/* ---------------Navigation Bar---------------- */
.nav{
    display: flex;
    justify-content: space-between;
    padding: 2em 1em;
    align-items: flex-start;
   
    padding-right: 2em;
}

.navbar-container{
    display: flex;
    align-items: center;
    position: relative;
    padding-bottom: 2em;
    transition: margin 0.2s ease-in-out;
}

.navbar-container>div>img{
    max-width: 100px;
}
.links{
    position: absolute;
    top: 100%;
    left: 5%;
    display: none;
    flex-direction: column;
    gap: 1.3em;
    width: 100%;
    animation: fade 0.3s;
}

i{
    padding-top: 0.5em;
}
@keyframes fade {
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}



.list{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 0.6em;
    font-size: 0.8rem;
    font-weight: bold;
    
}

.list-item:first-child{
    color: black;
}


.nav-button{
    background-color: #5955b3;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    padding: 0.5em 1em;
    font-size: 0.6rem;
}

/* ---------------------Banner Section--------------- */

.banner-container{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2em;
    padding: 1em;
}

.left-content{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.heading-text{
    color: #3c2f60;
}
.heading-text span{
    color: #5955b3;
}


@media (min-width:600px){

    .links{
        all: unset;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    .list{
        flex-direction: row;
        gap: 1.2rem;
        color: #C8C4C3;
        align-items: center;
    }

    i{
        display: none !important;
    }

    .navbar-container{
       flex-direction: row;
       width: 100%;
       justify-content: space-between;
       gap: 4em;
       align-items: center;
    }

    .banner-container{
        flex-direction: row;
    }
    .left-content{
        align-items: center;
    }

    .btn{
        max-width: 50%;
        padding: 1em 2em;
        }
}


@media (min-width:900px){

    html{
        font-size: 25px;
    }
    section{
        padding: 1em 2em !important;
    }
    .banner-container{
        text-align: left;
        justify-content: flex-start;
        align-items: flex-start;
    }
    
    .left-content{
        align-items: flex-start;
    }

    h1{
        font-size: 2rem;
    }
    
}